body{
	font-size: 18pt;
}
span{
	font-weight: bold;
}

#skill {
	list-style-type: none;
}


#name{
	font-family: 'Righteous', cursive;
	font-size: 30pt;
	text-align:center;
}
#pictures{
	text-align: center;
	border-bottom: 3px solid black; 
	border-radius: 100px;
}

#mypicture{
	border: 3px solid black;
	border-radius: 100px;
	box-shadow: 10px solid grey;
	display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .8s ;

}

#mypicture:hover{
	 
          transform: rotate(360deg);
}

#jobtitle,#profile,#skills{
	text-align: center;
	margin-left: 60px;
	margin-right: 60px;
}

#summary{
text-decoration: underline;
text-align: center;
}
#exp,#school{
	text-align: left;
	margin-left: 60px;
}


#foot{
	text-align: center;
	padding-top: 30px;
	background-color: black;
	color: white;
}
#top{
	margin-bottom: 20px;
}


.git,.linked{
	
	 display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    cursor: pointer;
   
}

.maindiv{
	border: 2px solid black;
	box-shadow:10px 10px 10px 10px grey;
	background-color: #ffdd99;
	margin: 100px;
}